/* src/styles/Products.css */

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center;
  padding: 20px; /* Ajusta el espacio alrededor del contenedor */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product img {
  max-width: 100%;
  height: auto;
}



